@keyframes lantern {
    0% {
        top: -180px;
    }

    100% {
        top: -25px;
    }
}

@keyframes kembang-api {
    0% {
        transform: scale(0);
        top: 40vh;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes kembang-api-2 {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes twibbon-img {
    0% {
        opacity: 0;
        transform: scale(.8);
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes man-img {
    0% {
        right: -100vw;
    }

    100% {
        right: -55vw;
    }
}